.formSubmit {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
body {
  margin: 0;
}
.headeBudget {
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: lightblue;
}
.containerButtonDelete {
  display: flex;

  height: 7vh;
  justify-content: center;
  align-items: center;
}
/* .btnDelete {
  width: 7vw;
  height: 4vh;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #c41c1c;
} */

.btnDelete {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btnDelete:hover,
.btnDelete:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btnDelete:hover {
  transform: translateY(-1px);
}

.btnDelete:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
header a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
img {
  width: 100%;
  height: 90.5vh;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.budgetContainer {
  display: flex;
  flex-direction: column;
  /* background-image: url(assets/pattern.svg); */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-height: 94vh;
  gap: 2rem;
}
#root header {
  background-color: rgb(54, 84, 134);
}
.budgetIfState h1 {
  text-align: center;
  color: #0f1035;

  margin-top: 3rem;
}
.loginContainer {
  display: flex;
  align-items: center;

  justify-content: center;
  min-height: 100vh;
}
.logOutBtn {
  cursor: pointer;
}
.container-home-page {
  display: flex;
  width: 100%;
  background-color: #dcf2f1;
  min-height: 95vh;
  max-height: 100vh;
  font-family: "Playfair Display", serif;

  gap: 2rem;
}
.container-home-page h1 {
  font-size: 4rem;
}
.leftHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.leftHome img {
  border-radius: 50%;
  width: 40vw;
  height: 60vh;
}
.rigthHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: #0f1035;
}
.rigthHome {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20rem;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnHomePage {
  border: solid 1px rgb(54, 84, 134);

  padding: 1rem;
  width: 12vw;
  height: 6vh;
  font-size: 0.8rem;

  margin-right: 2rem;
  background-color: rgb(220, 242, 241);
  color: black;
  border-radius: 0.5rem;
}
.btnHomePage:hover {
  cursor: pointer;

  color: white;
  background-color: rgb(54, 84, 134);
}
.iconNavbar {
  width: 2vw;
  height: 5vh;
  margin-right: 2rem;
}
.expend {
  background-color: #ff4d4d;
}
.income {
  background-color: #4dff4d;
}

#root td {
  font-size: 1.5rem;
  font-weight: bold;
}
.total {
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 2rem;
}
